<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config="true" use-expressions="true" create-session="always">
		<intercept-url pattern="/" access="permitAll"
			requires-channel="any" />
		<intercept-url pattern="/login**" access="permitAll"
			requires-channel="http" />
		<intercept-url pattern="/admin/*" access="hasRole('ROLE_ADMIN')"
			requires-channel="https" />
		<intercept-url pattern="/student/*" access="hasRole('ROLE_STUDENT')" />
		<intercept-url pattern="/faculty/*" access="hasRole('ROLE_FACULTY')" />

		<form-login login-page="/login" default-target-url="/homepage"
			authentication-success-handler-ref="customSuccessHandler"
			authentication-failure-url="/login?error" username-parameter="j_username"
			password-parameter="j_password" />
		<logout invalidate-session="true" logout-success-url="/login?logout"
			logout-url="/j_spring_security_logout" delete-cookies="JSESSIONID,SPRING_SECURITY_REMEMBER_ME_COOKIE" />
		<!-- <remember-me key="uniqueAndSecret" token-validity-seconds="86400" 
			/> -->
		<!-- enable csrf protection -->
		<csrf />
		<session-management session-fixation-protection="migrateSession">
			<concurrency-control max-sessions="1"
				error-if-maximum-exceeded="true" expired-url="/login?sessionexpired" />
		</session-management>
		<port-mappings>
			<!-- Default ports -->
			<port-mapping http="80" https="443" />
			<!-- Websphere default ports -->
			<port-mapping http="9080" https="9443" />
			<!-- Tomcat default ports -->
			<port-mapping http="8080" https="8443" />
			<!-- Jetty custom ports -->
			<port-mapping http="7777" https="7443" />
		</port-mappings>
		<!-- enable remember me -->
		<remember-me data-source-ref="dataSource" />
	</http>

	<authentication-manager>
		<authentication-provider>
			<password-encoder hash="bcrypt" />
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select username,password, enabled from users where username=?"
				authorities-by-username-query="select username,role from user_roles where username =?" />
		</authentication-provider>
	</authentication-manager>

	<beans:bean id="customSuccessHandler" class="com.qburst.sms.security.CustomSuccessHandler" />

</beans:beans>
	