<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/" access="permitAll" />
		<intercept-url pattern="/admin/*" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/student/*" access="hasRole('ROLE_STUDENT')" />
		<intercept-url pattern="/faculty/*" access="hasRole('ROLE_FACULTY')" />

		<form-login login-page="/login" default-target-url="/homepage"
			authentication-success-handler-ref="customSuccessHandler"
			authentication-failure-url="/login?error" username-parameter="j_username"
			password-parameter="j_password" />
		<logout logout-success-url="/login?logout" />
		<!-- enable csrf protection -->
		<csrf />
	</http>

	<authentication-manager>
		<authentication-provider>
			<!-- <password-encoder ref='passwordEncoderBean'> -->
			<!-- <salt-source user-property='username' /> -->
			<!-- </password-encoder> -->
<!-- 			<password-encoder ref="bcryptEncoder" /> -->
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select username,password, enabled from users where username=?"
				authorities-by-username-query="select username,role from user_roles where username =?" />
		</authentication-provider>
	</authentication-manager>

	<beans:bean id="customSuccessHandler" class="com.qburst.sms.utils.CustomSuccessHandler" />
	<!-- <beans:bean id="passwordEncoderBean" -->
	<!-- class="org.springframework.security.authentication.encoding.ShaPasswordEncoder"> -->
	<!-- <beans:constructor-arg value="512" /> -->
	<!-- </beans:bean> -->
<!-- 	<beans:bean id="bcryptEncoder" -->
<!-- 		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" /> -->
</beans:beans>